# Artifacts to ignore when downloading the .zip file from github.com/eighty20results

.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore
composer.json export-ignore
metadata.json export-ignore
docker-env export-ignore
docker-env export-ignore
build_readmes export-ignore
bin export-ignore
build export-ignore
inc/10up export-ignore
inc/antecedent export-ignore
inc/bacon export-ignore
inc/behat export-ignore
inc/bin export-ignore
inc/codeception export-ignore
inc/composer export-ignore
inc/dg export-ignore
inc/doctrine export-ignore
inc/facebook export-ignore
inc/gumlet export-ignore
inc/guzzlehttp export-ignore
inc/hamcrest export-ignore
inc/hautelook export-ignore
inc/illuminate export-ignore
inc/justinrainbox export-ignore
inc/lucatume export-ignore
inc/mikemclin export-ignore
inc/mockery export-ignore
inc/mustache export-ignore
inc/myclabs export-ignore
inc/nb export-ignore
inc/nesbot export-ignore
inc/phar-io export-ignore
inc/phpdocumentor export-ignore
inc/phpoption export-ignore
inc/phpspec export-ignore
inc/phpunit export-ignore
inc/psr export-ignore
inc/ralouphie export-ignore
inc/ramsey export-ignore
inc/rmccue export-ignore
inc/sebastian export-ignore
inc/seld export-ignore
inc/symfony export-ignore
inc/theseer export-ignore
inc/vlucas export-ignore
inc/webmozart export-ignore
inc/wp-cli export-ignore
inc/xamin export-ignore